.DS_Store
.env
.idea/
megalinter-reports/
.terraform
.terraform.lock.hcl
*.tfstate*
.tfsec/
.tfsec/*
!terraform/environments/my-application/.tfsec/
!terraform/environments/my-application/.tfsec/*
tmp/
*.tsv
.vscode/