.DS_Store
.env
__pycache__/
*.py[cod]
.idea/
megalinter-reports/
.terraform
.terraform.lock.hcl
*.tfstate*
.tfsec/
.tfsec/*
!terraform/environments/my-application/.tfsec/
!terraform/environments/my-application/.tfsec/*
tmp/
*.tsv
.vscode/
config.txt
execution_log.txt
megalinter-reports
ui/node_modules/
__pycache__/
*.py[cod]