---
controllerManager:
    exemptNamespaces:
        - kube-system
        - external-dns
        - cert-manager
        - ingress-nginx
        - velero-system
        - external-secrets
        - cosign-system
        - prometheus