{% extends "layout.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}{% if dispatched %}Request submitted{% else %}Request previewed{% endif %} - {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Request submitted" if dispatched else "Request previewed",
        html: "Your reference<br><strong>" + reference + "</strong>"
      }) }}

      {% if dispatched %}
        <p class="govuk-body">
          Your request has been sent to the Modernisation Platform repository.
          A pull request will be created after the request has been validated.
        </p>
      {% else %}
        <p class="govuk-body">
          Preview mode is enabled. Nothing has been sent to GitHub and no
          account will be created.
        </p>
      {% endif %}

      {% if dispatched %}
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          The Modernisation Platform team will review the pull request and be in touch.
        </p>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="/">Return to the start</a>
      </p>
    </div>
  </div>
{% endblock %}
