name: Account Network Update

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  contents: write
  issues: read
  pull-requests: write


jobs:
  network-setup:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Download network setup artifact
        uses: actions/download-artifact@v6
        with:
          name: network-setup-info
        continue-on-error: true  # Continue even if the artifact is not found

      - name: Check if artifact exists
        id: check_artifact
        run: |
          if [ ! -f network-setup-info.json ]; then
            echo "Artifact not found. Skipping the workflow."
            echo "SKIP=true" >> $GITHUB_ENV
          fi

      - name: Set up Python
        if: env.SKIP != 'true'
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.x'

      - name: Install jq
        if: env.SKIP != 'true'
        run: sudo apt-get install jq

      - name: Check PR number matches artifact
        if: env.SKIP != 'true'
        id: prcheck
        run: |
          ARTIFACT_PR=$(jq -r '.pr_number' network-setup-info.json)
          if [ "$ARTIFACT_PR" != "${{ github.event.pull_request.number }}" ]; then
            echo "This workflow is not for this PR. Exiting."
            exit 1
          fi

      - name: Run network-setup.py
        if: env.SKIP != 'true' && env.ISOLATED_ACCOUNT == 'No'
        run: |
          python scripts/network-setup.py \
            $(jq -r '.app_name' network-setup-info.json) \
            $(jq -r '.business_unit' network-setup-info.json) \
            $(jq -r '.environments[]' network-setup-info.json)

      - name: Commit and push network changes
        if: env.SKIP != 'true' && env.ISOLATED_ACCOUNT == 'No'
        uses: ministryofjustice/modernisation-platform-github-actions/signed-commit@cd7a05486925d038ae59f559c83ce4eeca94d243 # v3.5.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "Automated Signed Commit"
          pr_body: "This PR was created automatically to update generated files."
          commit_message: "Automated environment request for $APP_NAME"
          files_to_commit: |
            environments-networks/*
            policies/networks/*
