name: 'Close stale PRs'

on:
  schedule:
    - cron: '17 1 * * *'

permissions: {}

jobs:
  stale:
    permissions:
      contents: write # only for delete-branch option
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          stale-issue-message: 'This issue is stale because it has been open 90 days with no activity.'
          stale-pr-message: 'This PR is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 10 days.'
          close-pr-message: 'This PR was closed because it has been stalled for 40 days with no activity.'
          days-before-issue-stale: 90
          days-before-pr-stale: 30
          days-before-issue-close: -1
          days-before-pr-close: 10
          delete-branch: true
