---
name: core-shared-services-deployment

on: 
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/core-shared-services/**'
      - 'terraform/modules/vpc-hub/**'
      - 'terraform/modules/core-monitoring/**'
      - 'terraform/modules/kms/**'
      - '.github/workflows/core-shared-services-deployment.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/environments/core-shared-services/**'
      - 'terraform/modules/vpc-hub/**'
      - 'terraform/modules/core-monitoring/**'
      - '.github/workflows/core-shared-services-deployment.yml'
  workflow_run:
    workflows: ["Terraform: New environment"]
    types: [completed]
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

defaults:
  run:
    shell: bash

jobs:
  core-shared-services-deployment-plan-apply:
    uses: ./.github/workflows/reusable_terraform_plan_apply.yml
    with:
      working-directory: core-shared-services
      environment: production
    secrets:
      modernisation_platform_environments: "${{ secrets.MODERNISATION_PLATFORM_ENVIRONMENTS }}"
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}