---
name: core-security-deployment

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/core-security/**'
      - 'terraform/modules/vpc-hub/**'
      - 'terraform/modules/core-monitoring/**'
      - '!**.md'
      - '.github/workflows/core-security-deployment.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/environments/core-security/**'
      - 'terraform/modules/vpc-hub/**'
      - 'terraform/modules/core-monitoring/**'
      - '!**.md'
      - '.github/workflows/core-security-deployment.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write
defaults:
  run:
    shell: bash

jobs:
  core-security-deployment-plan-apply:
    uses: ./.github/workflows/reusable_terraform_plan_apply.yml
    with:
      working-directory: "terraform/environments/core-security"
      environment: production
    secrets:
      modernisation_platform_environments: "${{ secrets.MODERNISATION_PLATFORM_ENVIRONMENTS }}"
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}