name: 'Format Code: ensure code formatting guidelines are met'

on:
  workflow_dispatch:
  schedule:
    - cron: '45 4 * * 1-5'

permissions: read-all

concurrency:
  group: '${{ github.ref }}-${{ github.workflow }}'
  cancel-in-progress: true

env:
  APP_ID: 2013696
  RATE_THRESHOLD: 100

jobs:
  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@5c713c93eea694829b1bd3f410d0b235053318ce
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
    permissions:
      id-token: write
      contents: read
  format-code:
    needs: fetch-secrets
    permissions:
      contents: write
      pull-requests: write
      security-events: write  # needed for SARIF upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@5c713c93eea694829b1bd3f410d0b235053318ce
        with:
          mp_github_app_private_key: ${{ needs.fetch-secrets.outputs.mp_github_app_private_key }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: Create GitHub App token
        id: app
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ env.APP_ID }}               
          private-key: ${{ env.MP_GITHUB_APP_PRIVATE_KEY }} 
          owner: "ministryofjustice"
          repositories: "modernisation-platform"

      - name: Authenticate GitHub
        env:
          GH_TOKEN: ${{ steps.app.outputs.token }}
        run: |
          gh auth status

      - name: Prepare Git options
        run: bash ./scripts/git-setup.sh

      - name: Run Format Code Action
        uses: ministryofjustice/modernisation-platform-github-actions/format-code@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        with:
          APPLY_FIXES: all 
          APPLY_FIXES_EVENT: all
          APPLY_FIXES_MODE: pull_request
          DISABLE_ERRORS: true
          EMAIL_REPORTER: false
          ENABLE_LINTERS: JSON_PRETTIER,YAML_PRETTIER,TERRAFORM_TERRAFORM_FMT,MARKDOWN_MARKDOWNLINT
          VALIDATE_ALL_CODEBASE: true
          YAML_PRETTIER_FILTER_REGEX_EXCLUDE: (.github/*)
          MARKDOWN_MARKDOWNLINT_FILTER_REGEX_EXCLUDE: (terraform/modules/.*/.*.md)
          REPORT_OUTPUT_FOLDER: none
          
      - name: Run Signed Commit Action
        uses: ministryofjustice/modernisation-platform-github-actions/signed-commit@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        with:
          github_token: ${{ steps.app.outputs.token }}
          pr_title: "GitHub Actions Code Formatter workflow"
          pr_body: "This pull request includes updates from the GitHub Actions Code Formatter workflow. Please review the changes and merge if everything looks good."
