name: "Terraform: modernisation-platform-account"

on:
  push:
    paths:
      - 'terraform/modernisation-platform-account/**'
      - '!**.md'
      - '.github/workflows/modernisation-platform-account.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'terraform/modernisation-platform-account/**'
      - '!**.md'
      - '.github/workflows/modernisation-platform-account.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
    branches:
      - main
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write

jobs:
  modernisation-platform-account-plan-and-apply:
    uses: ./.github/workflows/reusable_terraform_plan_apply.yml
    with:
      working-directory: "terraform/modernisation-platform-account"
      workflow_id: "modernisation-platform-account"
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}