name: "Terraform: modernisation-platform-account"

on:
  push:
    paths:
      - 'terraform/modernisation-platform-account/**'
      - '.github/workflows/modernisation-platform-account.yml'
      - 'collaborators.json'
    branches:
      - main
  pull_request:
    paths:
      - 'terraform/modernisation-platform-account/**'
      - '.github/workflows/modernisation-platform-account.yml'
      - 'collaborators.json'
    branches:
      - main
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  modernisation-platform-account-plan-and-apply:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID:  ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_github_token: ${{ secrets.TERRAFORM_GITHUB_TOKEN }}
      TF_IN_AUTOMATION: true
    steps:
      - uses: actions/checkout@v3
      - uses: hashicorp/setup-terraform@v2.0.3
        with:
          terraform_version: "~1"
          terraform_wrapper: false
      - name: terraform init
        run: bash scripts/terraform-init.sh terraform/modernisation-platform-account
      - name: terraform plan
        run: bash scripts/terraform-plan.sh terraform/modernisation-platform-account
      - name: terraform apply
        if: github.event.ref == 'refs/heads/main'
        run: bash scripts/terraform-apply.sh terraform/modernisation-platform-account
      - uses: 8398a7/action-slack@v3
        name: Slack failure notification
        with:
          status: ${{ job.status }}
          fields: workflow,job,repo,commit,message
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        if: ${{ failure() }}
