name: "Open Policy Agent: validate JSON structures"

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '**.json'
      - '**.rego'
      - 'scripts/tests/validate/run-opa-tests.sh'
  merge_group:
    types: [checks_requested]
    paths:
      - '**.json'
      - '**.rego'
      - 'scripts/tests/validate/run-opa-tests.sh'

permissions:
  contents: read
  pull-requests: write

defaults:
  run:
    shell: bash

env:
  GH_TOKEN: ${{ github.token }}
  GITHUB_EVENT_NUMBER: ${{ github.event.number }}

jobs:
  run-opa-policy-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get changed files/directories and add PR comment for high risk changes
        run: bash scripts/pr-warning-comments.sh          
      - name: Setup Regal
        uses: styrainc/setup-regal@33a142b1189004e0f14bf42b15972c67eecce776 # v1.0.0
        with:
          version: latest
      - name: Run Regal Lint
        run: regal lint --format=github policies
      - name: Install Conftest
        run: |
          wget https://github.com/open-policy-agent/conftest/releases/download/v0.53.0/conftest_0.53.0_Linux_x86_64.tar.gz
          tar xzf conftest_0.53.0_Linux_x86_64.tar.gz
          sudo mv conftest /usr/local/bin
      - name: Run Conftest
        run: bash scripts/tests/validate/run-opa-tests.sh
