name: Publish

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "docs/**"

jobs:
  run:
    runs-on: ubuntu-latest
    container:
      image: ministryofjustice/tech-docs-github-pages-publisher:0.5
    steps:
    - uses: actions/checkout@v2
    - name: Publish
      run: /publishing-scripts/publish.sh
      env:
        ROOT_DOCPATH: /modernisation-platform
