name: terraform plan apply
on:
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: "Path to the directory where the workflow operates"
      environment:
        type: string
        required: false
        description: "Name of the environment, e.g. development"
      aws_region:
        required: false
        type: string
        default: "eu-west-2"
        description: "Specifies the AWS region"
      terraform_version:
        type: string
        required: false
        description: "The terraform version to use"
        default: "~1"
      workflow_id:   # This is the unique ID of the calling workflow
        description: 'Unique ID for the calling workflow'
        required: false
        type: string
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER:
        required: true
      PASSPHRASE:
        required: true

env:
  TF_IN_AUTOMATION: true
  TF_DESTROY_THRESHOLD: 1

jobs:
  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@d9e930d93532b84efdcf7d7b82621506e96a15b0 # v1.0.0
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}
  plan-and-apply:
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - name: Checkout Repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@d9e930d93532b84efdcf7d7b82621506e96a15b0 # v1.0.0
        with:
          environment_management: ${{ needs.fetch-secrets.outputs.environment_management }}
          slack_webhook_url: ${{ needs.fetch-secrets.outputs.slack_webhook_url }}
          pagerduty_token: ${{ needs.fetch-secrets.outputs.pagerduty_token }}
          pagerduty_userapi_token: ${{ needs.fetch-secrets.outputs.pagerduty_userapi_token }}
          terraform_github_token: ${{ needs.fetch-secrets.outputs.terraform_github_token }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: set env variables
        run: |
          echo "TF_VAR_github_token=$TERRAFORM_GITHUB_TOKEN" >> $GITHUB_ENV
          echo "TF_VAR_pagerduty_token=$PAGERDUTY_TOKEN" >> $GITHUB_ENV
          echo "TF_VAR_pagerduty_user_token=$PAGERDUTY_USERAPI_TOKEN" >> $GITHUB_ENV

      - name: Set up variables
        id: vars
        if: ${{ inputs.environment }}
        run: |
          account_name=$(basename ${{ inputs.working-directory }})
          echo "ACCOUNT_NAME=${account_name}"  >> $GITHUB_ENV
          echo "WORKSPACE_NAME=${account_name}-${{ inputs.environment }}" >> $GITHUB_ENV
          # Check if test directory exists
          if [ ${GITHUB_REF} != 'refs/heads/main' ] && [ -d "${{ inputs.working-directory }}/test" ]; then
              echo "run_terratest=true" >> $GITHUB_OUTPUT
          fi
    
      - name: Setup Go
        if: ${{ steps.vars.outputs.run_terratest == 'true' }}
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
        with:
          go-version: 1.21
          cache-dependency-path: "${{ inputs.working-directory }}/test/go.sum"

      - name: Set Account Number
        run: |
          ACCOUNT_NUMBER=$(jq -r -e '.modernisation_platform_account_id' <<< $ENVIRONMENT_MANAGEMENT)
          echo "::add-mask::$ACCOUNT_NUMBER"
          echo ACCOUNT_NUMBER=$ACCOUNT_NUMBER >> $GITHUB_ENV

      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: ${{ inputs.aws_region }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "${{ inputs.terraform_version }}"
          terraform_wrapper: false

      - name: Initialize Terraform
        run: |
          bash scripts/terraform-init.sh ${{ inputs.working-directory }}

      - name: Terraform Workspace Select
        if: ${{ inputs.environment }}
        run: |
          terraform -chdir="${{ inputs.working-directory }}" workspace select ${WORKSPACE_NAME}

      - name: Run Terratest
        if: ${{ steps.vars.outputs.run_terratest == 'true' }}
        run: |
          pushd ${{ inputs.working-directory }}/test
          go mod tidy
          TEST=`go test | ${{ github.workspace }}/scripts/redact-output.sh | tee /dev/stderr | tail -n 1`
          popd
          TEST="> TERRATEST RESULT - ${ACCOUNT_NAME}
          ${TEST}"
          pwd
          ls
          bash scripts/update-pr-comments.sh "${TEST}"

      - name: Run Terraform Plan
        if: github.event.ref != 'refs/heads/main'
        id: show
        run: |
          bash scripts/terraform-plan.sh ${{ inputs.working-directory }}

      - name: Get Destroy Count
        id: get_destroy_count
        env:
          DESTROY_THRESHOLD: ${{ env.TF_DESTROY_THRESHOLD }}
          PLAN_SUMMARY: ${{ env.plan_summary }}
        run: |
  
          destroy_count=$(echo "$PLAN_SUMMARY" | grep -oE 'Plan: [0-9]+ to add, [0-9]+ to change, [0-9]+ to destroy.' | awk '{print $8}')
 
          echo "destroy_count=$destroy_count"

          if ! [[ "$DESTROY_THRESHOLD" =~ ^[0-9]+$ ]]; then
              echo "Invalid DESTROY_THRESHOLD value: $DESTROY_THRESHOLD"
              exit 1
          fi

          if echo "$PLAN_SUMMARY" | grep -q "No changes. Your infrastructure matches the configuration."; then
              echo "No changes. Your infrastructure matches the configuration."
              destroy_count=0
          elif
              ! [[ "$destroy_count" =~ ^[0-9]+$ ]]; then
                  echo "Invalid destroy_count value: $destroy_count"
                  exit 1
          fi

          if [ "$destroy_count" -gt "$DESTROY_THRESHOLD" ]; then
              echo "Warning: There are $destroy_count resources to be destroyed in this plan."
          elif [ "$destroy_count" -gt 0 ]; then
              echo "There are $destroy_count resources to be destroyed, which is below the threshold."
          else
              echo "No resources to be destroyed"
          fi
          echo "destroy_count=$destroy_count" >> $GITHUB_ENV

      - name: Post Comment
        if: github.event.ref != 'refs/heads/main'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const workflowId = "${{ env.WORKSPACE_NAME }}";
            const identifier = workflowId ? `_${workflowId}_\n` : `_${{ inputs.workflow_id }}_\n`;
            const summary = `\`${{ steps.show.outputs.summary }}\``;
            const issue_number = context.payload.pull_request ? context.payload.pull_request.number : null;
            if (!issue_number) {
              console.log('No issue number found, skipping comment.');
              return;
            }
            await github.rest.issues.createComment({
              ...context.repo,
              issue_number,
              body: `### Terraform Plan Summary\n${identifier}${summary}`
            });

      - name: terraform apply
        if: github.event.ref == 'refs/heads/main'
        run: bash scripts/terraform-apply.sh ${{ inputs.working-directory }}

      - name: Slack failure notification
        if: ${{ failure() && github.ref == 'refs/heads/main' }}
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # v2.0.0
        with:
          webhook-type: incoming-webhook
          payload: |
            {"blocks":[{"type": "section","text": {"type": "mrkdwn","text": ":no_entry: Failed GitHub Action:"}},{"type": "section","fields":[{"type": "mrkdwn","text": "*Workflow:*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"},{"type": "mrkdwn","text": "*Job:*\n${{ github.job }}"},{"type": "mrkdwn","text": "*Repo:*\n${{ github.repository }}"}]}]}
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}
