name: Secrets Retrieval from AWS Secrets Manager

on:
  workflow_call:
    outputs:
      environment_management: 
        value: ${{ jobs.retrieve-secrets.outputs.environment_management }}
      pagerduty_token: 
        value: ${{ jobs.retrieve-secrets.outputs.pagerduty_token }}
      pagerduty_userapi_token: 
        value: ${{ jobs.retrieve-secrets.outputs.pagerduty_userapi_token }}
      slack_webhook_url: 
        value: ${{ jobs.retrieve-secrets.outputs.slack_webhook_url }}
      github_ci_user_pat: 
        value: ${{ jobs.retrieve-secrets.outputs.github_ci_user_pat }}

jobs:
  retrieve-secrets:
    runs-on: ubuntu-latest
    outputs:
      environment_management: ${{ steps.encrypt-outputs.outputs.environment_management }}
      pagerduty_token: ${{ steps.encrypt-outputs.outputs.pagerduty_token }}
      pagerduty_userapi_token: ${{ steps.encrypt-outputs.outputs.pagerduty_userapi_token }}
      slack_webhook_url: ${{ steps.encrypt-outputs.outputs.slack_webhook_url }}
      github_ci_user_pat: ${{ steps.encrypt-outputs.outputs.github_ci_user_pat }}
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
        with:
          role-to-assume: "arn:aws:iam::${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}:role/github-actions"
          role-session-name: githubactionsrolesession
          aws-region: "eu-west-2"
          
      - name: Retrieve Secrets from AWS Secrets Manager
        uses: aws-actions/aws-secretsmanager-get-secrets@ff26a0aa6bd4dd5e51326b5afb3f5f6874c958c7 #v2.0.3
        with:
          secret-ids: |
            MODERNISATION_PLATFORM_ENVIRONMENTS,environment_management
            PAGERDUTY_TOKEN,pagerduty_token
            PAGERDUTY_USERAPI_TOKEN,pagerduty_userapi_token
            SLACK_WEBHOOK_URL,slack_webhook_url
            TERRAFORM_GITHUB_TOKEN,github_ci_user_pat

      - name: Set outputs
        id: encrypt-outputs
        run: |
          environment_management=$(gpg --symmetric --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "$MODERNISATION_PLATFORM_ENVIRONMENTS") | base64 -w0)
          echo "environment_management=$environment_management" >> $GITHUB_OUTPUT

          pagerduty_token=$(gpg --symmetric --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "$PAGERDUTY_TOKEN") | base64 -w0)
          echo "pagerduty_token=$pagerduty_token" >> $GITHUB_OUTPUT

          pagerduty_userapi_token=$(gpg --symmetric --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "$PAGERDUTY_USERAPI_TOKEN") | base64 -w0)
          echo "pagerduty_userapi_token=$pagerduty_userapi_token" >> $GITHUB_OUTPUT

          slack_webhook_url=$(gpg --symmetric --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "$SLACK_WEBHOOK_URL") | base64 -w0)
          echo "slack_webhook_url=$slack_webhook_url" >> $GITHUB_OUTPUT

          github_ci_user_pat=$(gpg --symmetric --batch --passphrase "${{ secrets.PASSPHRASE }}" --output - <(echo "$TERRAFORM_GITHUB_TOKEN") | base64 -w0)
          echo "github_ci_user_pat=$github_ci_user_pat" >> $GITHUB_OUTPUT
