name: "Terraform: Member environments"

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/environments/**/*.tf'
    paths-ignore:
      - 'terraform/environments/core-*'
  pull_request:
    types: [opened, edited, reopened, synchronize]
    paths:
      - 'terraform/environments/**/*.tf'
    paths-ignore:
      - 'terraform/environments/core-*'

env:
  TF_IN_AUTOMATION: true
  AWS_REGION: "eu-west-2"
  ENVIRONMENT_MANAGEMENT: ${{ secrets.MODERNISATION_PLATFORM_ENVIRONMENTS }}

defaults:
  run:
    shell: bash

jobs:
  terraform-plan:
    if: github.ref != 'refs/heads/main'
    environment: ${{ matrix.environment }}
    name: 'Terraform Plan'
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: [development, test, preproduction, production]
    env:
      TF_IN_AUTOMATION: "true"

    steps:
      - name: Checkout repository
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set Account Number
        run: echo "ACCOUNT_NUMBER=$(jq -r -e '.aws_organizations_root_account_id' <<< $ENVIRONMENT_MANAGEMENT)" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2.2.0
        with:
          role-to-assume: "arn:aws:iam::${{ env.ACCOUNT_NUMBER }}:role/ModernisationPlatformGithubActionsRole"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1 # v2.0.3
        with:
          terraform_version: "~1"
          terraform_wrapper: false

      - name: Populate list of changed directories
        id: directories
        run: echo "CHANGED_DIRECTORIES=$(git --no-pager diff --name-only ${{ github.base_ref }} ${{ github.head_ref }} | awk '{print $1}' | grep ".tf" | grep -a "terraform/environments//*" | uniq | cut -f1-3 -d"/"" >> $GITHUB_OUTPUT

      - name: Run Terraform
        run:
          for directory in ${{ steps.directories.outputs.CHANGED_DIRECTORIES }}; do
          echo "Running 'terraform init' in $directory"
          bash scripts/terraform-init.sh $directory
          done
