name: Terraform Static Code Analysis

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: "0 7 * * 1-5"
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:

  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}  

  terraform-static-analysis:
    permissions:
      pull-requests: write
    name: Terraform Static Analysis
    runs-on: ubuntu-latest
    if: github.event_name != 'workflow_dispatch' && github.event_name != 'schedule'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Run Analysis
        uses: ministryofjustice/modernisation-platform-github-actions/terraform-static-analysis@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scan_type: changed
          trivy_severity: HIGH,CRITICAL
          trivy_ignore: ./.trivyignore.yaml
          checkov_exclude: CKV_GIT_1,CKV_AWS_126,CKV2_AWS_38,CKV2_AWS_39
          tflint_exclude: terraform_unused_declarations
          tflint_call_module_type: none
          tfsec_trivy: trivy
          use_trivy_ecr_database: true

  terraform-static-analysis-full-scan:
    permissions:
      contents: read
      actions: read
      security-events: write
      pull-requests: write
    name: Terraform Static Analysis - scan all directories
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Run Analysis
        uses: ministryofjustice/modernisation-platform-github-actions/terraform-static-analysis@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scan_type: full
          tfsec_trivy: trivy
          trivy_skip_dir: ""
          trivy_severity: HIGH,CRITICAL
          trivy_ignore: ./.trivyignore.yaml
          tfsec_exclude: aws-ssm-secret-use-customer-key,github-repositories-private,aws-vpc-no-excessive-port-access,github-repositories-require-signed-commits
          checkov_exclude: CKV_GIT_1,CKV_AWS_126,CKV2_AWS_38,CKV2_AWS_39
          tflint_exclude: terraform_unused_declarations
          tflint_call_module_type: none
          use_trivy_ecr_database: true

  terraform-static-analysis-scheduled-scan:
    name: Terraform Static Analysis - scheduled scan of all directories
    runs-on: ubuntu-latest
    needs: fetch-secrets
    if: github.event_name == 'schedule'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        with:
          slack_webhook_url: ${{ needs.fetch-secrets.outputs.slack_webhook_url }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - name: Run Analysis
        uses: ministryofjustice/modernisation-platform-github-actions/terraform-static-analysis@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          scan_type: full
          tfsec_trivy: trivy
          trivy_severity: HIGH,CRITICAL
          trivy_ignore: ./.trivyignore.yaml
          tfsec_exclude: aws-ssm-secret-use-customer-key,github-repositories-private,aws-vpc-no-excessive-port-access,github-repositories-require-signed-commits
          checkov_exclude: CKV_GIT_1,CKV_AWS_126,CKV2_AWS_38,CKV2_AWS_39
          tflint_exclude: terraform_unused_declarations
          tflint_call_module_type: none
          use_trivy_ecr_database: true
      - name: Slack failure notification
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook-type: incoming-webhook
          payload: |
            {"blocks":[{"type": "section","text": {"type": "mrkdwn","text": ":no_entry: Failed GitHub Action:"}},{"type": "section","fields":[{"type": "mrkdwn","text": "*Workflow:*\n<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.workflow }}>"},{"type": "mrkdwn","text": "*Job:*\n${{ github.job }}"},{"type": "mrkdwn","text": "*Repo:*\n${{ github.repository }}"}]}]}
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_URL }}
        if: ${{ failure() }}
