name: "Terraform: PagerDuty resources"

on:
  push:
    paths:
      - 'terraform/pagerduty/**'
      - '!**.md'
      - '.github/workflows/terraform-pagerduty.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
    branches:
      - main
  pull_request:
    paths:
      - 'terraform/pagerduty/**'
      - '!**.md'
      - '.github/workflows/terraform-pagerduty.yml'
      - '.github/workflows/reusable_terraform_plan_apply.yml'
    branches:
      - main
    types: [opened, edited, reopened, synchronize]
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write
defaults:
  run:
    shell: bash

jobs:
  pagerduty-plan-and-apply:
    uses: ./.github/workflows/reusable_terraform_plan_apply.yml
    with:
      working-directory: "terraform/pagerduty"
      workflow_id: "pagerduty"
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: "${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}"
      PASSPHRASE: ${{ secrets.PASSPHRASE }}