---
  name: check for broken links

  on:
    pull_request: 
      paths:
        - "source/**"
    schedule:
      - cron: '3 7 * * TUE'

  permissions: {}
  jobs:
    check-links:
      name: Test
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
        - name: Checkout
          id: checkout
          uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        - name: Lychee
          id: lychee
          uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            args: --verbose --no-progress './**/*.md' './**/*.html' './**/*.erb' --config config/lychee.toml
            fail: true