name: Update Securityhub Slack Secret
on:
  workflow_dispatch:
    inputs:
      application:
        description: "Application name (eg: sprinkler)"
        required: true
      slack_webhook_url:
        description: "Slack webhook URL"
        required: true
env:
  AWS_REGION: "eu-west-2"
permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
jobs:
  update-secret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          role-to-assume: "arn:aws:iam::${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_NUMBER }}:role/github-actions-apply"
          role-session-name: githubactionsrolesession
          aws-region: ${{ env.AWS_REGION }}
      - name: Run Secret Update Script
        run: ./scripts/update_securityhub_secret.sh ${{ github.event.inputs.application }} $SLACK_WEBHOOK_URL
        env:
          SLACK_WEBHOOK_URL: ${{ github.event.inputs.slack_webhook_url }}
